
  <div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
      @{
        for(int i = 0; i < 5; i++){
            <li data-target="#myCarousel" data-slide-to="@i" @if(i==0){<text>class="active"</text>}></li>
        }
      }
      
  </ol>
  <!-- Carousel items -->
   @{
        Func<DisciplineReviews.Cours,double?>[] funcs = new Func<DisciplineReviews.Cours,double?>[5];
        funcs[0] = (a => a.CourseReviews.Average(r => r.Clarity));
        funcs[1] = (a => a.CourseReviews.Average(r => r.Easyness));
        funcs[2] = (a => a.CourseReviews.Average(r => r.Usability));
        funcs[3] = (a => a.CourseReviews.Average(r => r.Workload));
        funcs[4] = (a => a.CourseReviews.Average(r => r.Interests));

        string[] goodimage = new string[5];
        string[] badimage = new string[5];
        goodimage[0] = "course_clarity.png";
        badimage[0] = "course_unclarity.png";
        goodimage[1] = "course_easy.gif";
        badimage[1] = "course_hard.png";
        goodimage[2] = "course_useful.png";
        badimage[2] = "course_unuseful.png";
        goodimage[3] = "course_les_workload.png";
        badimage[3] = "course_workload.png";
        goodimage[4] = "course_interest.png";
        badimage[4] = "course_boring.png";

        string[] goodtext = new string[5];
        string[] badtext = new string[5];

        goodtext[0] = "Най-ясно преподаван курс";
        badtext[0] = "Най-неразбираем курс";
        goodtext[1] = "Най-лесен курс";
        badtext[1] = "Най-труден курс";
        goodtext[2] = "Най-полезен курс";
        badtext[2] = "Най-безполезен курс";
        goodtext[3] = "Най-лек курс";
        badtext[3] = "Най-натоварен курс";
        goodtext[4] = "Най-интересен курс";
        badtext[4] = "Най-отегчителен курс";
        
            
   }       
   
  <div class="carousel-inner">
      @for(int i = 0; i < 5; i++){
        <div class="@{if(i==0){<text>active </text>}} item">
            <table id = "slider-table-model">
                <tr>
                    <td>
                        <h5>@goodtext[i]</h5>
	                    <img src="/img/@goodimage[i]" class="img-rounded"/>
                        @Html.Action("_SliderCourse",DisciplineReviews.Controllers.BusinessLogic.GetBestCourse(funcs[i]))
                    </td>
                    <td>
                        <h5>@badtext[i]</h5>
	                    <img src="/img/@badimage[i]" class="img-rounded"/>
                        @Html.Action("_SliderCourse",DisciplineReviews.Controllers.BusinessLogic.GetWorstCourse(funcs[i]))
                    </td>
                </tr>
            </table>
        </div>
      }
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
