@{
    var courses = DisciplineReviews.Controllers.BusinessLogic.GetRandomCourses();
}


<table id = "table-compare" class = "well" >
    <tr>
        <td colspan = "2">
            <img src="/img/course_easy.gif" class="img-rounded">
        </td>
        <td colspan = "2">
            <img src="/img/photo.png" class="img-rounded">
        </td>
    </tr>
    <tr>
        <td>
            <img src="/img/beer.png">
        </td>
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[0].CourseID" href="#">@courses[0].Discipline.DisciplineName</a></td>
        
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[5].CourseID" href="#">@courses[5].Discipline.DisciplineName</a></td>
        <td>
            <img src="/img/e1.png">
        </td>
    </tr>
     <tr>
        <td>
            <img src="/img/wine.png">
        </td>
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[1].CourseID" href="#">@courses[1].Discipline.DisciplineName</a></td>
        
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[6].CourseID" href="#">@courses[6].Discipline.DisciplineName</a></td>
         <td>
            <img src="/img/e2.png">
        </td>
    </tr>
     <tr>
        <td>
            <img src="/img/cocktail.png">
        </td>
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[2].CourseID" href="#">@courses[2].Discipline.DisciplineName</a></td>
        
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[7].CourseID" href="#">@courses[7].Discipline.DisciplineName</a></td>
         <td>
            <img src="/img/e3.png">
        </td>
    </tr>
     <tr>
        <td>
            <img src="/img/shot.png">
        </td>
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[3].CourseID" href="#">@courses[3].Discipline.DisciplineName</a></td>
       
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[8].CourseID" href="#">@courses[8].Discipline.DisciplineName</a></td>
          <td>
            <img src="/img/e4.png">
        </td>
    </tr>
     <tr>
        <td>
            <img src="/img/bottle.png">
        </td>
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[4].CourseID" href="#">@courses[4].Discipline.DisciplineName</a></td>
       
        <td><a class="btn btn-link courses-pulldown-button go-button" data-course-id="@courses[9].CourseID" href="#">@courses[9].Discipline.DisciplineName</a></td>
          <td>
            <img src="/img/e5.png">
        </td>
    </tr>
    <tr>
        <td colspan="4"><button type="button" id="make-criteria" class="btn btn-warning ">Избери курс по твой вкус</button></td>        
    </tr>
</table>

<script type="text/javascript">
    $("#make-criteria").on("click", function(){
        $.ajax({
            type: "POST",
            url: "/Home/_MakeCriteriaForm",
            context:this,
            success: function(msg){
                $("#main_content").html(msg);
            }
        });
    });
</script>

<script src="@Href("~/Scripts/load_review_page.js")"></script>