@model DisciplineReviews.Models.Course
<h1>@Model.CourseName</h1> 
<h2>@Model.LecturerName</h2>

<div class="text-info">
  <span class="label label-info">Credits:</span>
  <span>@Model.Credits</span>
  <span class="label label-info">Type:</span>
  <span>@Model.Type</span>
</div>
<table id= "rating-table">
    <tr>
        <td><h4>Average rating @Model.TotalRating</h4></td>
        <td></td>     
    </tr>
    <tr>
        <td><h5>Helpfulness @Model.Helpfulness</h5></td>
        <td>
          <div class="progress progress-info">
          <div class="bar" style="width: @((Model.Helpfulness-1)*25)%"></div>
      </div>
    </td>
    </tr>
    <tr>
        <td><h5>Easiness @Model.Easiness</h5></td>
         <td>
          <div class="progress progress-info">
          <div class="bar" style="width: @((Model.Easiness-1)*25)%"></div>
      </div>
    </td>
    </tr>
    <tr>
        <td><h5>Interest @Model.Interest</h5></td>
         <td>
          <div class="progress progress-info">
          <div class="bar" style="width: @((Model.Interest-1)*25)%"></div>
      </div>
    </td>
    </tr>
    <tr>
        <td><h5>Workload @Model.WorkLoad</h5></td>
         <td>
          <div class="progress progress-info">
          <div class="bar" style="width: @((Model.WorkLoad-1)*25)%"></div>
      </div>
    </td>
    </tr>
    <tr>
        <td><h5>Clarity @Model.Clarity</h5></td>
         <td>
          <div class="progress progress-info">
          <div class="bar" style="width: @((Model.Clarity-1)*25)%"></div>
      </div>
    </td>
    </tr>
</table>
