@model DisciplineReviews.Models.Course

<table>
	<tr>
		<td><h4>@Model.TotalRating</h4></td>
	</tr>
	<tr>
		<td><h5>@Model.Helpfulness</h5></td>
	</tr>
	<tr>
		<td><h5>@Model.Easiness</h5></td>
	</tr>
	<tr>
		<td><h5>@Model.Interest</h5></td>
	</tr>
	<tr>
		<td><h5>@Model.WorkLoad</h5></td>
	</tr>
</table>